html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: white;
    --text-dark: black;
    --max-width: 1200px;
    --light:white;
    --button-color:rgba(0,167,142,0.7);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section__container{
    max-width: var(--max-width);
    margin: auto;
}
.section_title{
    padding-bottom: .5rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-dark);
    position: relative;
}
.section_title::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 75px;
    background-color: var(--text-dark);
}
.btn
{
    background-color: var(--button-color);
    padding: 15px 40px;
    border: none;
    color: var(--text-dark);
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease-out;
}
.btn:hover
{
    color: var(--primary-color);
    background-color:rgba(212,24,143);
}

a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}

.header__bar{
    padding: .5rem;
    font-size: .8rem;
    text-align: center;
    background-color: var(--text-dark);
    color: var(White);

}

.nav__container{
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark);
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;

}

.link a{
    padding: 0 .5rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--text-light);
    transition: 0.5s;
}

.link a:hover{
    color: var(--text-dark);

}

.nav__icons{
    display: flex;
    grid: 1rem;

}

.nav__icons span{
    font-size: 1.25rem;
    cursor: pointer;
    padding-left: 30px;
}
body{
    font-family: "montserrat",sans-serif;
}

/* sale  */

.sale{
    display: flex;
    margin-left: 150px;
   
}



.sale__content a{
    color: var(--text-dark);
    margin-left: 50px;
    text-decoration: none;

}

.vertical{
   border-left: 1px solid black;
   margin-left: 10px;
}


/* page 2*/
.portfolio .portfolio-filter
{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
    text-align: center;
}
.portfolio .portfolio-filter button
{
    text-transform: uppercase;
    margin-top: -20px;
    outline: none;
    border: 1px solid;
    border-color: var(--main-color);
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--white);
    margin-right: 20px;
    color: var(--main-color);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.portfolio .portfolio-filter button:last-child
{
    margin-right: 0;
}
.portfolio .portfolio-filter button:hover,
.portfolio .portfolio-filter button.active 
{
    color: var(--white);
    background-color: var(--main-color);
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio .portfolio-item.hide 
{
    display: none;
}
.portfolio .portfolio-item.show
{
    display: block;
    animation:  showItem 0.5s ease;
}
@keyframes showItem
{
    0%
    {
        transform: scale(0.8);
        opacity: 0;
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}
.portfolio .portfolio-item-inner
{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--shadow-black-100);
    cursor: pointer;
    position: relative;
}
.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    display: block;
}
.portfolio .portfolio-item .portfolio-info
{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 30px;
    opacity: 0;
    transition: all 0.3s ease;
}
.portfolio .portfolio-item:hover .portfolio-info
{
    opacity: 1;
}
.portfolio .portfolio-item .portfolio-info h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
    text-transform: capitalize;
    transform: translateX(-20px);
    transition: all 0.3s ease;
    opacity: 0;
}
.portfolio .portfolio-item:hover .portfolio-info h4
{
    transform: translateX(0px);
    opacity: 1;
}
.portfolio .portfolio-item .portfolio-info .icon
{
    height: 40px;
    width: 40px;
    color: var(--white);
    background-color: var(--main-color);
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
    transform: translateX(20px);
    transition: all 0.3s ease;
    opacity: 0;
}
.portfolio .portfolio-item:hover .portfolio-info .icon
{
    transform: translateX(0px);
    opacity: 1;
}
.portfolio .portfolio-item .portfolio-info .icon .fa 
{
    line-height: 40px;
}


.page2{
    display: flex;
    margin-left: 150px;
    justify-content: space-between;
}

.card-title{
    text-align: center;
}
/* Footer CSS */


.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    background-color: var(--text-dark);
    color: var(--light);
  }
  
  .footer__heading {
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .footer__heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background-color: var(--text-light);
  }
  
  .footer__col p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer__col p:hover {
    color: var(--text-dark);
  }
  
  .footer__col p i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  
  .instagram__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .footer__bar {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }
  
  .copyright {
text-align: center;
  }