body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}



.product-card .btn {
    width: 100%;
    font-size: 15px;
}
.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    position: relative;

}
.product-card img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;

}
.product-card .price {
    color: red;
    font-weight: bold;
}
.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
}
.wishlist-title, .recommendations-title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.move-to-bag-btn {
    margin-top: 10px;
}

