.home{
    margin-top: 80px;
    color: rgb(114, 114, 114);
    font-family: Arial, Helvetica, sans-serif;
}
.notfound{
    font-size: 115px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    margin-left: 190px;
}
.content{
    margin-left: 340px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 46, 46);
    font-size: 17px;
}
.button{
    margin-left: 430px;
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    border: none;
    background-color:rgb(212, 66, 85);
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}
.a{
    text-decoration: none;
}
html{
    --primary-color: white;
    --text-dark: black;
    --max-width: 1200px;
    --light:white;

}
*{
    padding: 0; img{
}
body{
    font-family: "montserrat",sans-serif;
}
}



/* Footer CSS */


.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    background-color: var(--text-dark);
    color: var(--light);
  }

  .footer__heading {
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
  }

  .footer__heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background-color: var(--text-light);
  }

  .footer__col p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
  }

  .footer__col p:hover {
    color: var(--text-dark);
  }

  .footer__col p i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .instagram__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .footer__bar {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }

  .copyright {
text-align: center;
  }